body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main {
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .text {
      margin-bottom: 18px;
      font-size: 18px;
      text-transform: uppercase;
  }
  a {
      padding: 10px;
      box-sizing: border-box;
      background-color: #000;
      color: #fff;
      cursor: pointer;
  }
  .content {
    h2 {
      text-transform: uppercase;
    }
  }
}
.App {
  text-align: center;
}