@import "./components/reset";

.main {
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .counter {
    margin-top: 15px;
  }
  .text {
      margin-bottom: 18px;
      font-size: 18px;
      text-transform: uppercase;
  }
  a {
      padding: 10px;
      box-sizing: border-box;
      background-color: #000;
      color: #fff;
      cursor: pointer;
  }
  .content {
    h2 {
      text-transform: uppercase;
    }
  }
}
.App {
  text-align: center;
}
.page {
  height: 100vh;
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  .button {
    padding: 10px;
    box-sizing: border-box;
    background-color: #000;
    color: #fff;
    cursor: pointer;
  }
  .sliderWrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    .slider {
      background-color: #000;
      width: 600px;
      height: 400px;
      object-fit: contain;
      margin: 10px;
    }
  }
  a{
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #000;
    color: #fff;
    cursor: pointer;
  }
}